{% extends "items/item_base.html" %}
{%  block meta_title %}Omnomer - Edit Item{% endblock %}
{%  block item_main %}
    {% if item.id %}
        <h3>Edit Item</h3>
    {% else %}
        <h3>Add Item</h3>
    {% endif %}

    <form action="{{ action }}" method="POST">
        {% csrf_token %}
        <ul>
            {{ form.as_ul }}
        </ul>
        <input type="submit" value="Save" />
    </form>

    {% if item.id %}
        <a href="{% url "item-delete" pk=item.id %}">Delete</a>
    {% endif %}

    <a href="{% url "item-list" %}">back to list</a>
{% endblock %}