{% extends "shelves/shelf_base.html" %}
{%  block meta_title %}Omnomer - Shelf List{% endblock %}
{%  block shelf_main %}
    <h3>Shelves</h3>

    <ul>
      {% for shelf in object_list %}
        <li><a href="{{ shelf.get_absolute_url }}">{{ shelf }}</a>
            (<a href="{% url "shelf-edit" pk=shelf.id %}">edit</a>)
            <ul>{% for item in shelf.items %}
                <li><a href="{% url "item-detail" pk=item.id %}">{{ item.name}}</a></li>
                {% endfor %}
            </ul>
        </li>
      {% endfor %}
    </ul>

    <a href="{% url "shelf-create" %}">add shelf</a>
{%  endblock %}